---
pagination:
  data: collections.chapters
  size: 1
  alias: chapter
permalink: "/chapters/{{ chapter.slug }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.title }}</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <header>
      <h1>{{ chapter.title }}</h1>
    </header>
    <main>
      <article>
        {{ chapter.html | safe }}
      </article>
    </main>
    {% if "chapter" in page.fileSlug %}
    <!-- Sidebar for chapters -->
    {# <aside style="flex-basis: 250px; margin-left: 20px;"> #}
      <aside class="sidebar">
          <h3>All Chapters</h3>
          <input type="text" id="search-bar" placeholder="Search chapters..." oninput="performSearch(event)">
          <ul id="chapter-list"> {% for chapter in collections.chapters %}
              <li>
                  <a href="{{ chapter.localUrl }}">{{ chapter.title }}</a>
              </li>
              {% endfor %}
          </ul>
      </aside>
    {% endif %}
    <footer>
      <a href="/">Back to Home</a>
    </footer>

    <script>
      const searchBar = document.getElementById("search-bar");
      const chapterList = document.getElementById("chapter-list");
  
      async function performSearch(event) {
        const query = event.target.value.toLowerCase().trim();

          // If the search bar is empty, restore the default list
          if (!query) {
              chapterList.innerHTML = defaultChaptersHTML;
              return;
          }

          // Call Ghost API
          const apiKey = "6fd4ffe7ac031243b7e98714b6";
          const apiUrl = `https://simplicity.ghost.io/ghost/api/content/posts/?key=${apiKey}&filter=title:~'${query}'`;
  
          try {
              const response = await fetch(apiUrl);
              const { posts } = await response.json();
  
              // Update chapter list
              chapterList.innerHTML = posts
                  .map(
                      post =>
                          `<li><a href="/chapters/${post.slug}/">${post.title}</a></li>`
                  )
                  .join("");
          } catch (error) {
              console.error("Error fetching data from Ghost API:", error);
          }
      }
  
      searchBar.addEventListener("input", performSearch);
  </script>


  </body>
</html>
