---
pagination:
  data: collections.chapters
  size: 1
  alias: chapter
permalink: "/chapters/{{ chapter.slug }}/"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.title }}</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <header>
      <h1>{{ chapter.title }}</h1>
    </header>
    <main>
      <article>
        {{ chapter.html | safe }}
      </article>
    </main>
    {% if "chapter" in page.fileSlug %}
    <!-- Sidebar for chapters -->
    {# <aside style="flex-basis: 250px; margin-left: 20px;"> #}
        <aside class="sidebar"> 
            <h3>All Chapters</h3>
        <ul>
            {% for chapter in collections.chapters %}
                <li>
                    <a href="{{ chapter.localUrl }}">{{ chapter.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
    {% endif %}
    <footer>
      <a href="/">Back to Home</a>
    </footer>
  </body>
</html>
